.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
}

.shopping-cart{
  
    justify-content: space-between;
    background-color: #61dafb;
    padding: 20px 30px;
}


.product-item{
  padding: 20px;
  text-align: center;
  
}

.button{
  background-color: rgb(53, 166, 211);
  position: absolute;
  float: right;
}

.navBar{
  background-color:black;
}
.About{
  color: white;
    text-decoration: none;
    cursor: pointer;
}
.header {
  text-align: center;
  margin: 0;
  padding: 0px;
  padding-bottom: 30px;
  background: #777;
  color: white;
}
.latest-album {
  display: block;
  border: 1px solid #56CCF2;
  padding: 15px 30px;
  font-size: 23px;
  font-weight: 200;
  margin: 10px auto;
  background: inherit;
  cursor: pointer;
  color: white;
}
.play-btn {
  cursor: pointer;
  display: block;
  border: 2px solid #56CCF2;
  border-radius: 50%;
  padding: 20px;
  font-size: 30px;
  font-weight: 200;
  margin: 20px auto;
  background: inherit;
  color: #56CCF2;
}
 
.footer-title {
   text-align: center;
   background-color: #56CCF2;
    color: white;
     font-size: 400%; 
    font-weight: bold;
     margin: 0 auto;
     padding-top: 1%;
     padding-bottom: 1%;
       
}
.footer{
  text-align: center;
    color: white;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}

.footer-icons ul {
  list-style-type: none;
  display: flex;
}
.the{
  background-color: #00adb5;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    width: 100%;
}
.contact
  {
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
.contactUs{
  border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 600px;
}
label{
 
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-weight: 700;
    margin: 0 10px 10px;
}

input{
  
    border-color: rgba(0,0,0,.2);
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 1em;
    padding: 2px;
    width: 96%;

}
.button_btn{
  background-color: #777;
  border-radius: 10px;
}
.headers{
  
    background-color: #00adb5;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    width: 100%;
}
.about {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
.photo {
  border-radius: 50%;
  float: left;
  
  height: 400px;
  margin: 0 50px;
   width: 600px;
} 